# Ignore Terraform directories and files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraformrc
.terraform.lock
terraform.log

# Ignore Terraform variable files
*.tfvars
